.header_class{
    margin-top: 2px;
    height: 5%;
    background-color: antiquewhite;
    color: #fff;
    padding: 10px 40px 10px 40px ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}