<app-header></app-header>
<div *ngIf="roles=='parent'" class="home-container">
    <h1>Welcome to our UNMR Page</h1>
    <p>Please click the button below to aboard your child:</p>
    <button class="register-button" routerLink="/register">Register Now</button>
    <div  class="home_cards">

      <div *ngFor="let i of all_form ;index as j" >
        <mat-card  class="detail-card">
            <mat-card-header>
              <div class="example-header-image"></div>
              <mat-card-title>{{i["childname"]}}</mat-card-title>
  
              
            </mat-card-header>
            <!-- <img mat-card-image src="{{i['image']}}"> -->
            <hr />
            <mat-card-content>
              <p>
                
                {{i['date']}}
              </p>
              <hr />
            </mat-card-content>
            <mat-card-actions>
              <button mat-stroked-button (click)="onEdit(i)">Edit</button>
              <button mat-stroked-button (click)="checkStatus(i)">Check Status</button>
              <button mat-stroked-button (click)="deleteTrip(i)">delete</button>
  
            </mat-card-actions>
          </mat-card>
  
  
    </div>
    </div>
</div>

<div *ngIf="roles=='security'" class="home-container">
    <h1>Welcome to our UNMR Page</h1>
    <p>Hey officer these are the clients we have to receive at airport</p>
    <div class="home_cards">

      <div *ngFor="let i of all_form" >
          <mat-card  class="detail-card">
              <mat-card-header>
                <div class="example-header-image"></div>
                <mat-card-title>{{i["childname"]}}</mat-card-title>
  
                
              </mat-card-header>
              <!-- <img mat-card-image src="{{i['image']}}"> -->
              <hr />
              <mat-card-content>
                <p>
                  
                  {{i['date']}}
                </p>
                <hr />
              </mat-card-content>
              <mat-card-actions>
                <button mat-stroked-button (click)="package(i)">View Details</button>
                <button mat-stroked-button (click)="checkStatus(i)">Check Status</button>

              </mat-card-actions>
            </mat-card>
  
  
      </div>
    </div>
</div>


